<!DOCTYPE html>
<html>
	<head>
		<title>Polldaal</title>
		<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<%= yield %>
		</div>
		
		<footer id="user_nav" class="container">
			<% if user_signed_in? %>
			Signed in as <%= current_user.email %>. <%= link_to "(Sign out)", destroy_user_session_path, :method => :delete %>
			<% else %>
			<%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
			<% end %>
		</footer>

	</body>
</html>
