<!DOCTYPE html>
<html>
	<head>
		<title>Polldaal</title>
		<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render "layouts/application_header" %>
		<div class="container">
			<%= yield %>
		</div>
		<hr />
	</body>
</html>
