<!DOCTYPE html>
<html>
	<head>
		<title>Polldaal</title>
		<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<%= link_to "PollDaal", root_path, :class => "brand" %>
					<a class="brand"> Navbar </a>
					<a class="brand"> Bitches! </a>
					<div class="pull-right">
						<%= get_user_status %>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="main_content">
				<%= yield %>
			</div>
		</div>
		<!-- container div wrapping the contents of body -->
	</body>
</html>
